<div ng-controller="listaTelefonicaCtrl" class="main jumbotron">
	<div>
		<h4>{{app | uppercase}}</h4>
		<input type="text" class="form-control" ng-model="busca" placeholder="O que você está buscando?">
		<table class="table table-striped">
			<tr ng-show="contatos.length > 0">
				<th></th>
				<th><a ng-click="ordenarPor('nome')"> Nome</a></th>
				<th><a ng-click="ordenarPor('telefone')"> Telefone</a></th>
				<th>Operadora</th>
				<th>Data</th>
				<th></th>
			</tr>
			<tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos | filter:busca | orderBy:criterioDeOrdenacao:direcaoOrdenacao">
				<td><input type="checkbox" ng-model="contato.selecionado"></td>
				<td>{{contato.nome}}</td>
				<td>{{contato.telefone}}</td>
				<td>{{contato.operadora.nome | uppercase}}</td>
				<td>{{contato.data | date:'dd/MM/yyyy HH:mm'}}</td>
				<td><div style="width: 8px; height: 8px;border-radius: 50%" ng-style="{background: contato.cor}"></div></td>
			</tr>
		</table>
		É válido: {{contatoForm.$valid}}<br>
		É inválido: {{contatoForm.$invalid}}
	    <form name="contatoForm">
			<input name="nome" type="text" class="form-control" ng-model="contato.nome" placeholder="Nome" ng-required="true" ng-minlength="10">
			<input name="telefone" type="text" class="form-control" ng-model="contato.telefone" placeholder="Telefone xxxxx-xxxx" ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/">
			<select name="operadora" class="form-control" ng-model="contato.operadora" ng-options="operadora.nome group by operadora.categoria for operadora in operadoras | orderBy:'nome'" ng-required="true">
				<option value="">Selecione uma operadora</option>
			</select>
			<input ui-date="" name="data" type="text" class="form-control" ng-model="contato.data" placeholder="Data de nascimento dd/MM/yyyy">
		</form>
		
		<div class="alert alert-danger" ng-show="contatoForm.nome.$error.required && contatoForm.nome.$dirty">Por favor, preencha o campo nome!</div>
		<div class="alert alert-danger" ng-show="contatoForm.nome.$error.minlength">O mínimo de caracteres para o campo nome é 10!</div>
		
		<div class="alert alert-danger" ng-show="contatoForm.telefone.$error.required && contatoForm.telefone.$dirty">Por favor, preencha o telefone!</div>
		<div class="alert alert-danger" ng-show="contatoForm.telefone.$error.pattern">O campo telefone é inválido!</div>
		
		<div class="alert alert-danger" ng-show="contatoForm.operadora.$invalid && contatoForm.operadora.$dirty">Por favor, preencha o operadora!</div>
		
		<button class="btn btn-block btn-primary" ng-click="addToList(contato)" ng-disabled="contatoForm.$invalid">Adicionar contato</button>	
		<button class="btn btn-block btn-danger" ng-click="removeToList(contatos)" ng-disabled="!isContatoSelecionado(contatos)">Remover contato selecionado</button>	
	</div>
</div>