<div ng-controller="userCtrl" class="main jumbotron">
	<div>
		<input type="text" placeholder="Buscar um usuário" class="form-control" name="" ng-model="filterUser">
		
		<table class="table table-striped">
			<tr> 
				<th>Nome</th>
				<th>E-mail</th>
				<th>Criado em</th>
				<th>Ações</th>
			</tr>
			<tr ng-repeat="user in usuarios | filter:filterUser">
				<td>{{user.nome | name | ellipsis:20}}</td>
				<td>{{user.email | ellipsis:10}}</td>
				<td>{{user.createdAt | date:'dd/MM/yyyy HH:mm'}}</td>
				<td><button class="btn btn-danger" ng-click="removeUser(user)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></td>
			</tr>
		</table>

		<div>Random ID: {{stringRandom}}</div>
		<form name="userForm">
			<input type="text" ng-required="true" class="form-control" name="nome" ng-model="user.nome" placeholder="Nome">
			<input type="email" ng-required="true" class="form-control" name="email" ng-model="user.email" placeholder="email">
			<input type="password" ng-required="true" class="form-control" name="senha" ng-model="user.senha" placeholder="senha">
			<input ng-disabled="userForm.$invalid" type="button" class="btn btn-block btn-primary" name="" ng-click="inserirUsuario(user)" value="Add usuario">
		</form>
	</div>
</div>