<style type="text/css">
	#home {
		margin-top: 100px;
		position:relative;
		z-index:999;
	}
	.logo-codescript, .icon-menu {
		width:70%;
		margin:0 auto;
		text-align:center;
	}
	.icon-menu .icon-menu-li {
		margin:12px 4px;
		list-style:none;
		display: inline-block;
		position:relative;
		background:#fff;
		border-radius:4px;
		font-size:30px;
	}
	.icon-menu .icon-menu-li a{
		padding:30px;
		display:block;
	}
</style>
<div ng-include="'view/components/fullScreenSlide.html'"></div>
<div id="home">
	<div class="logo-codescript">
		<div style="width:220px;height:220px;background:#fff;margin:0 auto;border-radius:2px;"></div>
		<h2>CodeScript</h2>
	</div>
	<br>
	<!-- ICON MENU -->
	<nav>
		<ul class="icon-menu">
			<li class="icon-menu-li"><a href="#/" title="Home"><span class="glyphicon glyphicon-flash"></span></a></li>
			<li class="icon-menu-li"><a href="#/sobre" title="sobre"><span class="glyphicon glyphicon-flash"></span></a></li>
			<li class="icon-menu-li"><a href="#/contato" title="contato"><span class="glyphicon glyphicon-flash"></span></a></li>
			<li class="icon-menu-li"><a href="#/portifolio" title="portifolio"><span class="glyphicon glyphicon-flash"></span></a></li>
			<li class="icon-menu-li"><a href="#/blog" title="blog"><span class="glyphicon glyphicon-flash"></span></a></li>
		</ul>
	</nav>
</div>